/*Some basic styles to apply to all elements of various types*/

*{
    box-sizing: border-box;
}

body, html{
    margin: 0;
    padding:0;
    height: 100%;
}


table {
    border-collapse: collapse;
}
