@import '../../styles/util.scss';

//
.points-table {
    //background-color: white;
    text-align: left;
    font-size: 1.8rem;
}

.points-table-cell{
    padding: 3px 5px;
}
.points-table-row{
    border: thick solid rgba(0,0,0,0.5);
    background-color: silver;

    //formatting rows based on points values
    $minPoints: 0;
    $maxPoints: 20;
    @for $i from $minPoints through $maxPoints {
        &.points-#{$i - 10} {
            background-color: getStepColourHSL(green, red,$i, $maxPoints);
        }
    }

}

.points-table-header-row{
    background-color: silver;
}
