//*Styles for LeaderBoard*//
@import '../../styles/media-queries';
//definitions:

$leaderboardRowVertMargin: 10px /2; //10px between each, so half on top and bottom
$leaderboardInitFontsize: 2rem;

//Colours#
$gold: gold;
$silver: silver;
$bronze: #CD7F32;

@mixin inset-border($colour) {
        border-left-color: $colour;
        border-right-color: $colour;
        border-top-color: lighten($colour, 15%);
        border-bottom-color: darken($colour, 15%);
}


@function leaderboardFontSize($position) {
    @if $position > 4 {$position: 4;}

    //Scale factor:
    //calced for 2rem @ pos1 and 1rem @ pos4
    $m: -1 * $leaderboardInitFontsize /3;
    $c: 7 * $leaderboardInitFontsize /3;
    @return $m*$position + $c;
}

//Actual styles

.leader-board-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.leader-board-wrapper{
    display: flex;
}

.leader-board-content-col{
    flex: 1 0 auto;
}

.leader-board-spacer-col {
    flex: 0 1 30px;
    content: ' ';
    /* debug
    background-color: rgba(255,255,0,0.5);
    border: thin solid white;
    //*/
}

.leader-board-row {
    border: thick solid grey;
    border-radius: 2px;
    background-color: white;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.5);
    padding: 10px 20px;
    font-size: leaderboardFontSize(4);
    margin: $leaderboardRowVertMargin 0;
    display: flex;
    flex: 1 1 auto;
    flex-direction: row;
    text-decoration: none;
    color: inherit;

    &:hover{
        background-color: lighten(grey, 30%);
    }

    &:focus {
        border-style: inset;
        background-color: lighten(grey, 15%);
    }

    &.first {
        background-color: lighten($gold, 20%);
        @include inset-border($gold);
        &:hover{
            background-color: lighten($gold, 30%);
        }
        &:focus{
            background-color: lighten($gold, 15%);
        }
    }

    &.second {
        border-color: silver;
        background-color: lighten($silver, 20%);
        @include inset-border($silver);
        &:hover{
            background-color: lighten($silver, 30%);
        }
        &:focus{
            background-color: lighten($silver, 15%);
        }
    }

    &.third {
        border-color: $bronze;
        background-color: lighten($bronze, 20%);
        @include inset-border($bronze);
        &:hover{
            background-color: lighten($bronze, 30%);
        }
        &:focus{
            background-color: lighten($bronze, 15%);
        }
    }

    @media #{$mq-medium} {
        &.first {
            font-size:  leaderboardFontSize(1);
        }

        &.second {
            font-size: leaderboardFontSize(2);
        }

        &.third {
            font-size: leaderboardFontSize(3);
        }
    }
}


.leader-board-cell{
    flex: 1 0 auto;
    margin: 0 5px;

    &.no-flex{
        flex: 0 0 auto;
    }
}
